<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fumnail</title>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    <script src="//unpkg.com/alpinejs" defer></script>
</head>

<body class="bg-slate-900">

    <div class="w-48 bg-slate-700">

        <h3>Fumnail</h3>

        <p>
            <a href="/">Home</a>
            |
            <a href="/media">Media</a>
            |
            <a href="/jobs">Jobs</a>
        </p>

    </div>

    {% block body %}{% endblock %}

</body>

</html>